html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 1em 0;
}
img {
  max-width: 100%;
  height: auto;
}
header,
footer {
  ol,
  ul {
    list-style: none;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

input {
  font: inherit;
  padding: 0.15em 0.25em;
  width: 100%;
}
